.tweet-profile-img {
    position: absolute;
    top: -15px;
    left: -18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.tweet-created-at {
    position: absolute;
    bottom: 0;
    right: 6px;
    font-size: x-small;
}

#tweets .card .body{
    height: 130px;
}