.tweet-profile-img {
    position: absolute;
    top: -15px;
    left: -18px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.tweet-created-at {
    position: absolute;
    bottom: 0;
    right: 6px;
    font-size: x-small;
}

.tweet-text {
    margin-top: 6px;
}

.tweet-username {
    position: absolute;
    top: 0;
    left: 30px;
    color: #edeff2;
    font-weight: bold;
    font-size: large;
}

.rigth-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#tweets .card .body {
    height: 130px;
}

.add-keyword-btn {
    float: right;
}