# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    callback_url: http://localhost:5050/checkLoginTwitter
    consumer_key: GR7gUwTSc21nrj2GjO1aRwkxW
    consumer_secret_key: v3UIX6bBHXc8siHMtzW22bbCesO7LlfAAwGOLxVYUG0PrCLW0J
    api_host: http://localhost:3000/v1

    #Redis parameters
    cache_provider:         array_cache
    redis_cache_host:       localhost
    redis_cache_port:       6379
    redis_cache_keyspace:   tweet

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
